
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* RESET */
* {
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}
/* RESET */

/* GLOBAL */
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif;

}
/* GLOBAL */



main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background-color: antiquewhite;
}


section.mensagem {
    /* background-color: darkgrey; */

    font-size: 1.9rem;
    text-align: center;
    width: 100%;
    max-width: 460px;
    display: none;
}
.mensagem.ativa {
    display: block;
}
.mensagem h1 {
    font-size: 3.5rem;
    color: #88512a;
    margin: 2rem 0 3.5rem;
    text-transform: uppercase;
    animation: florecer 3s ease-in-out;
}
.mensagem .descrip {
    max-width: 315px;
    margin: auto;
    /* background-color: #88512a88; */
    color: #704425;
    border-radius: 15px;
}
.mensagem p {
    line-height: 4.6rem;

    animation: florecer 5s ease-in-out;
}
.mensagem em {
    font-size: 2.5rem;
}
.mensagem img {
    border-radius: 15px;
    margin-top: 4rem;

    border: 10px solid #88512a88;

    animation: florecer 5s;
}

@keyframes florecer {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

section.portas {
    width: 100%;
    /* max-width: 460px; */
    text-align: center;

    position: fixed;
    display: flex;
    /* opacity: 0.5; */
}
/* .portas.aberta {
    display: none;
} */
.portas .porta-esquerda {
    background-color: #dfe6e6;
    
    height: 100vh;
    width: 50%;
}
.porta-esquerda.abre {
    border: none;
    animation: abrir 2s ease-in-out;
    transform: translate(-100%);
    opacity: 0;
}
.portas .porta-direita {
    background-color: #dfe6e6;
    /* border-left: 2px solid rgba(0, 0, 0, 0.315); */
    height: 100vh;
    width: 50%;
}
.porta-direita.abre {
    border: none;
    animation: abrirD 2s ease-in-out;
    transform: translate(100%);

opacity: 0;}
@keyframes abrir {
    from {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes abrirD {
    from {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;    
    }
}

.portas button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 3px 10px 5px #3a3737ab;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.abre {
    display: none;
}
